<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 别名 -->
	<typeAliases>
		<typeAlias type="com.budgetms.pojo.BudgetType" alias="budgetType" />
		<typeAlias type="com.budgetms.pojo.BudgetInfo" alias="budgetInfo" />
		<typeAlias type="com.budgetms.pojo.Instruction" alias="inst" />
		<typeAlias type="com.budgetms.pojo.Contract" alias="cont" />
		<typeAlias type="com.budgetms.pojo.ContPayment" alias="contPayment" />
		<typeAlias type="com.budgetms.pojo.ContAdjust" alias="contAdj" />
		<typeAlias type="com.budgetms.pojo.Invoice" alias="invo" />
		<typeAlias type="com.budgetms.pojo.Attachment" alias="attach" />
		<typeAlias type="com.budgetms.pojo.ContPayment" alias="contPayment" />
		<typeAlias type="com.budgetms.pojo.InstructionAdjust" alias="instAdj" />
		<typeAlias type="com.budgetms.pojo.InstructionDivide" alias="instDivide" />

		<typeAlias type="com.budgetms.pojo.Project" alias="pro" />
		<typeAlias type="com.budgetms.pojo.ProInfo" alias="proInfo" />
		<typeAlias type="com.budgetms.pojo.ProInfoAdjust" alias="proInfoAdj" />
		
		<typeAlias type="com.budgetms.pojo.Tender" alias="tender" />
	</typeAliases>
</configuration>