<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.budgetms.dao.IContPaymentDao">

	<resultMap id="BaseResultMap" type="com.budgetms.pojo.ContPayment">
		<id column="cont_payment_id" property="contPaymentId" jdbcType="INTEGER" />
		<result column="period" property="period" jdbcType="INTEGER" />
		<result column="cont_Id" property="contId" jdbcType="VARCHAR" />
		<result column="isPaid" property="isPaid" jdbcType="VARCHAR" />
		<result column="pay_amt" property="payAmt" jdbcType="VARCHAR" />
		<result column='expect_pay_date' property='expectPayDate'
			jdbcType="DATE" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>



	<select id="getContPaymentByProperty" resultMap="BaseResultMap"
		resultType="java.util.HashMap" parameterType="contPayment">
		select * from cont_payment
		<trim prefix="where" prefixOverrides="AND|OR">
			<choose>
				<when test="contPaymentId !=null and contPaymentId !=''">
					cont_payment_id like '%${contPaymentId}%'
				</when>
				<otherwise>
					<if test="period !=null and period !='' ">
						and period like '%${period}%'
					</if>
					<if test="contId !=null and contId !='' ">
						and cont_id =#{contId}
					</if>
					<if test="payAmt !=null and payAmt !='' ">
						and pay_amt like '%${payAmt}%'
					</if>
				</otherwise>
			</choose>
		</trim>
		order by cont_payment_id desc
	</select>

	<select id="getContPaymentByContId" resultMap="BaseResultMap"
		resultType="java.util.HashMap">
		select * from cont_payment where cont_id =#{contId}
	</select>

	<delete id="deleteContPayment" parameterType="int"> delete from
		cont_payment
		where
		cont_payment_id=#{0}
	</delete>

	<insert id="insertContPayment" parameterType="contPayment">
		insert into cont_payment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="payAmt !=null and payAmt !='' ">
				pay_amt,
			</if>
			<if test="period !=null and period !='' ">
				period,
			</if>
			<if test="contId !=null and contId !='' ">
				cont_id,
			</if>
			<if test="remark !=null and remark !='' ">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="payAmt !=null and payAmt !='' ">
				#{payAmt},
			</if>
			<if test="period !=null and period !='' ">
				#{period},
			</if>
			<if test="contId !=null and contId !='' ">
				#{contId},
			</if>
			<if test="remark !=null and remark !='' ">
				#{remark},
			</if>
		</trim>
	</insert>


	<update id="updateContPayment" parameterType="contPayment">
		update cont_payment
		<set>
			<if test="period !=null and period !='' ">
				period=#{period},
			</if>
			<if test="isPaid !=null and isPaid !='' ">
				isPaid=#{isPaid},
			</if>
			<if test="payAmt !=null and payAmt !='' ">
				pay_amt=#{payAmt},
			</if>
			<if test="remark !=null and remark !='' ">
				#{remark},
			</if>
		</set>
		where cont_payment_id=#{contPaymentId}
	</update>

	<select id="getContPaymentCount" resultType="int">
		select count(*) from cont_payment
		<trim prefix="where" prefixOverrides="AND|OR">
			<choose>
				<when test="contPaymentId !=null and contPaymentId !=''">
					cont_payment_id like '%${contPaymentId}%'
				</when>
				<otherwise>
					<if test="period !=null and period !='' ">
						and period like '%${period}%'
					</if>
					<if test="contId !=null and contId !='' ">
						and cont_id like '%${contId}%'
					</if>
					<if test="isPaid !=null and isPaid !='' ">
						and isPaid like '%${isPaid}%'
					</if>
					<if test="payAmt !=null and payAmt !='' ">
						and pay_amt like '%${payAmt}%'
					</if>
				</otherwise>
			</choose>
		</trim>
	</select>


	<select id="getContPaymentByPage" resultMap="BaseResultMap"
		resultType="java.util.HashMap">
		select * from cont_payment
		<trim prefix="where" prefixOverrides="AND|OR">
			<choose>
				<when test="param1.contPaymentId !=null and param1.contPaymentId !=''">
					cont_payment_id like '%${param1.contPaymentId}%'
				</when>
				<otherwise>
					<if test="param1.period !=null and param1.period !='' ">
						and period like '%${param1.period}%'
					</if>
					<if test="param1.contId !=null and param1.contId !='' ">
						and cont_id like '%${param1.contId}%'
					</if>
					<if test="param1.isPaid !=null and param1.isPaid !='' ">
						and isPaid like '%${param1.isPaid}%'
					</if>
					<if test="param1.payAmt !=null and param1.payAmt !='' ">
						and pay_amt like '%${param1.payAmt}%'
					</if>
				</otherwise>
			</choose>
		</trim>
		order by cont_payment_id desc limit #{param2},#{param3}
	</select>
</mapper>  