<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.budgetms.dao.IInstructionDivideDao">

	<resultMap id="BaseResultMap" type="com.budgetms.pojo.InstructionDivide">
		<id column="inst_divide_id" property="instDivideId" jdbcType="INTEGER" />
		<result column="inst_id" property="instId" jdbcType="VARCHAR" />
		<result column="divide_no" property="divideNo" jdbcType="INTEGER" />
		<result column="divide_amt" property="divideAmt" jdbcType="DECIMAL" />
		<result column="pro_info_id" property="proInfoId" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="divide_status" property="divideStatus"
			jdbcType="VARCHAR" />
	</resultMap>

	<select id="getInstDivideByProperty" resultMap="BaseResultMap"
		resultType="java.util.HashMap" parameterType="instDivide">
		select * from instruction_divide
		<trim prefix="where" prefixOverrides="AND|OR">
			<choose>
				<when test="instDivideId !=null and instDivideId !=''">
					inst_divide_id like '%${instDivideId}%'
				</when>
				<otherwise>
					<if test="instId !=null and instId !='' ">
						and inst_id like '%${instId}%'
					</if>
				</otherwise>
			</choose>
		</trim>
		order by inst_divide_id desc
	</select>

	<select id="getInstDivideByInstId" resultMap="BaseResultMap"
		resultType="java.util.HashMap">
		select * from instruction_divide
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="instId !=null and instId !='' ">
				inst_id like '%${instId}%'
			</if>
		</trim>
	</select>

	<delete id="deleteInstDivide" parameterType="java.lang.String"> delete from
		instruction_divide
		where
		inst_divide_id=#{0}
	</delete>

	<insert id="insertInstDivide" parameterType="instDivide">
		insert into instruction_divide
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="proInfoId !=null and proInfoId !='' ">
				pro_info_id,
			</if>
			<if test="instId !=null and instId !='' ">
				inst_id,
			</if>
			<if test="divideNo !=null and divideNo !='' ">
				divide_no,
			</if>
			<if test="divideAmt !=null and divideAmt !='' ">
				divide_amt,
			</if>
			<if test="remark !=null and remark!= '' ">
				remark,
			</if><if test="remark !=null and remark!= '' ">
				remark,
			</if>
			<if test="divideStatus !=null and divideStatus != '' ">
				divide_status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="proInfoId !=null and proInfoId !='' ">
				#{proInfoId},
			</if>
			<if test="instId !=null and instId !='' ">
				#{instId},
			</if>
			<if test="divideNo !=null and divideNo !='' ">
				#{divideNo},
			</if>
			<if test="divideAmt !=null and divideAmt !='' ">
				#{divideAmt},
			</if>
			<if test="remark !=null and remark!= '' ">
				#{remark},
			</if>
			<if test="divideStatus !=null and divideStatus!=  '' ">
				#{divideStatus},
			</if>
		</trim>
	</insert>


	<update id="updateInstDivide" parameterType="attach">
		update instruction_divide
		<set>
			<if test="instId !=null and instId !='' ">
				inst_id=#{instId},
			</if>
			<if test="divideNo !=null and divideNo !='' ">
				divide_no=#{divideNo},
			</if>
			<if test="divideAmt !=null and divideAmt !='' ">
				divide_amt=#{divideAmt},
			</if>
			<if test="proInfoId !=null and proInfoId !='' ">
				pro_info_id=#{proInfoId},
			</if>
			<if test="remark !=null and remark!= '' ">
				remark=#{remark},
			</if>
			<if test="divideStatus !=null and divideStatus != '' ">
				divide_status=#{divideStatus},
			</if>
		</set>
		where inst_divide_id=#{instDivideId}
	</update>

	<select id="getInstDivideCount" resultType="int">
		select count(*) from instruction_divide
		<trim prefix="where" prefixOverrides="AND|OR">
			<choose>
				<when test="instDivideId !=null and instDivideId !=''">
					inst_divide_id like '%${instDivideId}%'
				</when>
				<otherwise>
					<if test="instId !=null and instId !='' ">
						and inst_id like '%${instId}%'
					</if>
					<if test="proInfoId !=null and proInfoId !='' ">
						and pro_info_id like '%${proInfoId}%'
					</if>
					<if test="divideAmt !=null and divideAmt !='' ">
						and divide_amt like '%${divideAmt}%'
					</if>
				</otherwise>
			</choose>
		</trim>
	</select>


	<select id="getInstDivideByPage" resultMap="BaseResultMap"
		resultType="java.util.HashMap">
		select * from instruction_divide
		<trim prefix="where" prefixOverrides="AND|OR">
			<choose>
				<when test="param1.instDivideId !=null and param1.instDivideId !=''">
					inst_divide_id like '%${param1.instDivideId}%'
				</when>
				<otherwise>
					<if test="param1.instId !=null and param1.instId !='' ">
						and inst_id like '%${param1.instId}%'
					</if>
					<if test="param1.proInfoId !=null and param1.proInfoId !='' ">
						and pro_info_id like '%${param1.proInfoId}%'
					</if>
					<if test="param1.divideAmt !=null and param1.divideAmt !='' ">
						and divide_amt like '%${param1.divideAmt}%'
					</if>
				</otherwise>
			</choose>
		</trim>
		order by inst_divide_id desc limit #{param2},#{param3}
	</select>
</mapper>  