<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.budgetms.dao.ITenderDao">

    <resultMap id="BaseResultMap" type="com.budgetms.pojo.Tender">
        <id column="tender_id" property="tenderId" jdbcType="VARCHAR"/>
        <result column="inst_divide_id" property="instDivideId"
                jdbcType="INTEGER"/>
        <result column="appr_id" property="apprId" jdbcType="INTEGER"/>
        <result column="tender_amt" property="tenderAmt" jdbcType="DECIMAL"/>
        <result column="company" property='company' jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <!-- 20170515 -->
        <result column="tenderName" property="tenderName" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="startDate" property="startDate" jdbcType="DATE"/>
        <result column="endDate" property="endDate" jdbcType="DATE"/>
        <result column="openDate" property="openDate" jdbcType="DATE"/>
        <result column="negoDate" property="negoDate" jdbcType="DATE"/>
        <result column="approvalDate" property="approvalDate" jdbcType="DATE"/>
        <result column="finalDate" property="finalDate" jdbcType="DATE"/>
        <result column="status" property="status" jdbcType="INTEGER"/>

    </resultMap>


    <select id="getTenderByProperty" resultMap="BaseResultMap"
            resultType="java.util.HashMap" parameterType="tender">
        select * from tender
        <trim prefix="where" prefixOverrides="AND|OR">
            <choose>
                <when test="tenderId !=null and tenderId !=''">
                    tender_id like '%${tenderId}%'
                </when>
                <otherwise>
                    <if test="instDivideId !=null and instDivideId !='' ">
                        and inst_divide_id like '%${instDivideId}%'
                    </if>
                    <if test="apprId !=null and apprId !='' ">
                        and appr_id =#{apprId}
                    </if>
                    <if test="tenderAmt !=null and tenderAmt !='' ">
                        and tender_amt like '%${tenderAmt}%'
                    </if>
                </otherwise>
            </choose>
        </trim>
        order by tender_id desc
    </select>

    <select id="getTenderByIdType" resultMap="BaseResultMap"
            resultType="java.util.HashMap">
        select * from tender
        <trim prefix="where" prefixOverrides="AND|OR">
            <if test="apprId !=null and apprId !='' ">
                and appr_id like '%${apprId}%'
            </if>
            <if test="tenderAmt !=null and tenderAmt !='' ">
                and tender_amt like '%${tenderAmt}%'
            </if>
        </trim>
        order by tender_id desc
    </select>

    <delete id="deleteTender" parameterType="java.lang.String"> DELETE FROM tender
    WHERE
        tender_id = #{tenderId}
    </delete>

    <insert id="insertTender" parameterType="tender">
        insert into tender
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tenderAmt !=null and tenderAmt !='' ">
                tender_amt,
            </if>
            <if test="instDivideId !=null and instDivideId !='' ">
                inst_divide_id,
            </if>
            <if test="apprId !=null and apprId !='' ">
                appr_id,
            </if>
            <if test="remark !=null and remark!= '' ">
                remark,
            </if>
            <if test="tenderName !=null and tenderName!= '' ">
                tenderName,
            </if>
            <if test="type !=null and type!= '' ">
                type,
            </if>
            <if test="startDate !=null and startDate!= '' ">
                startDate,
            </if>
            <if test="endDate !=null and endDate!= '' ">
                endDate,
            </if>
            <if test="openDate !=null and openDate!= '' ">
                openDate,
            </if>
            <if test="negoDate !=null and negoDate!= '' ">
                negoDate,
            </if>
            <if test="approvalDate !=null and approvalDate!= '' ">
                approvalDate,
            </if>
            <if test="finalDate !=null and finalDate!= '' ">
                finalDate,
            </if>
            <if test="status !=null and status!= '' ">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tenderAmt !=null and tenderAmt !='' ">
                #{tenderAmt},
            </if>
            <if test="instDivideId !=null and instDivideId !='' ">
                #{instDivideId},
            </if>
            <if test="apprId !=null and apprId !='' ">
                #{apprId},
            </if>
            <if test="remark !=null and remark!= '' ">
                #{remark},
            </if>
            <if test="tenderName !=null and tenderName!= '' ">
                #{tenderName},
            </if>
            <if test="type !=null and type!= '' ">
                #{type},
            </if>
            <if test="startDate !=null and startDate!= '' ">
                #{startDate},
            </if>
            <if test="endDate !=null and endDate!= '' ">
                #{endDate},
            </if>
            <if test="openDate !=null and openDate!= '' ">
                #{openDate},
            </if>
            <if test="negoDate !=null and negoDate!= '' ">
                #{negoDate},
            </if>
            <if test="approvalDate !=null and approvalDate!= '' ">
                #{approvalDate},
            </if>
            <if test="finalDate !=null and finalDate!= '' ">
                #{finalDate},
            </if>
            <if test="status !=null and status!= '' ">
                #{status},
            </if>
        </trim>
    </insert>


    <update id="updateTender" parameterType="tender">
        update tender
        <set>
            <if test="instDivideId !=null and instDivideId !='' ">
                inst_divide_id=#{instDivideId},
            </if>
            <if test="apprId !=null and apprId !='' ">
                apprId=#{apprId},
            </if>

            <if test="tenderAmt !=null and tenderAmt !='' ">
                tender_amt=#{tenderAmt},
            </if>
            <if test="remark !=null and remark!= '' ">
                remark=#{remark},
            </if>
            <if test="tenderName !=null and tenderName!= '' ">
                tenderName=#{tenderName},
            </if>
            <if test="type !=null and type!= '' ">
                type=#{type},
            </if>
            <if test="startDate !=null and startDate!= '' ">
                startDate=#{startDate},
            </if>
            <if test="endDate !=null and endDate!= '' ">
                endDate=#{endDate},
            </if>
            <if test="openDate !=null and openDate!= '' ">
                openDate=#{openDate},
            </if>
            <if test="negoDate !=null and negoDate!= '' ">
                negoDate=#{negoDate},
            </if>
            <if test="approvalDate !=null and approvalDate!= '' ">
                approvalDate=#{approvalDate},
            </if>
            <if test="finalDate !=null and finalDate!= '' ">
                finalDate=#{finalDate},
            </if>
            <if test="status !=null and status!= '' ">
                status=#{status},
            </if>
        </set>
        where tender_id=#{tenderId}
    </update>

    <select id="getTenderCount" resultType="int">
        select count(*) from tender
        <trim prefix="where" prefixOverrides="AND|OR">
            <choose>
                <when test="tenderId !=null and tenderId !=''">
                    tender_id like '%${tenderId}%'
                </when>
                <otherwise>
                    <if test="instDivideId !=null and instDivideId !='' ">
                        and inst_divide_id like '%${instDivideId}%'
                    </if>
                    <if test="apprId !=null and apprId !='' ">
                        and appr_id like '%${apprId}%'
                    </if>

                    <if test="tenderAmt !=null and tenderAmt !='' ">
                        and tender_amt like '%${tenderAmt}%'
                    </if>
                </otherwise>
            </choose>
        </trim>
    </select>


    <select id="getTenderByPage" resultMap="BaseResultMap"
            resultType="java.util.HashMap">
        select * from tender
        <trim prefix="where" prefixOverrides="AND|OR">
            <choose>
                <when test="param1.tenderId !=null and param1.tenderId !=''">
                    tender_id like '%${param1.tenderId}%'
                </when>
                <otherwise>
                    <if test="param1.instDivideId !=null and param1.instDivideId !='' ">
                        and inst_divide_id like '%${param1.instDivideId}%'
                    </if>
                    <if test="param1.apprId !=null and param1.apprId !='' ">
                        and appr_id like '%${param1.apprId}%'
                    </if>

                    <if test="param1.tenderAmt !=null and param1.tenderAmt !='' ">
                        and tender_amt like '%${param1.tenderAmt}%'
                    </if>
                </otherwise>
            </choose>
        </trim>
        order by tender_id desc limit #{param2},#{param3}
    </select>
</mapper>  