<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.budgetms.dao.ITypeInfoDao">

	<resultMap id="BaseResultMap" type="com.budgetms.pojo.TypeInfo">
		<id column="type_Id" property="typeId" jdbcType="INTEGER" />
		<result column="type_name" property="typeName" jdbcType="VARCHAR" />
		<result column="type_category" property="typeCategory"
			jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>



	<select id="getAllTypeInfo" resultMap="BaseResultMap"
		resultType="java.util.HashMap">
		select * from type_info

	</select>

</mapper>  